[submodule "htmlPPT"]
	path = htmlPPT
	url = https://github.com/JoyceFangmm/htmlPPT.git
[submodule "reveal.js"]
	path = reveal.js
	url = https://github.com/hakimel/reveal.js.git
[submodule "random-musings-for-bash-beginners/reveal.js"]
	path = random-musings-for-bash-beginners/reveal.js
	url = https://github.com/hakimel/reveal.js.git
[submodule "test/reveal.js"]
	path = test/reveal.js
	url = https://github.com/hakimel/reveal.js.git
