[submodule "random-musings-for-bash-beginners/reveal.js"]
	path = random-musings-for-bash-beginners/reveal.js
	url = https://github.com/hakimel/reveal.js.git
[submodule "test/reveal.js"]
	path = test/reveal.js
	url = https://github.com/hakimel/reveal.js.git
[submodule "testNoJs/reveal.js"]
	path = testNoJs/reveal.js
	url = https://github.com/hakimel/reveal.js.git
